.projects{
    background-color: rgb(46, 46, 46);
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: 5px solid rgb(28, 28, 28);   
}

.website-wrapper{
    width: 80%;
    height: 70%;
    display: flex;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
